/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --font-weight: 400; /* толщина основного текста карточки: light 400, dark 465 */
  --accent-font-weight: 700; /* толщина заголовки карточки: light 700, dark 785 */
}