/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --font-weight: 400;
  --accent-font-weight: 700;
  --accent-color: #000000;
  --background-color: #ffffff;
  --background: #ffffff url("../images/bkg-light.png") repeat top left / 4px 4px fixed;
}
